@font-face
{
    font-family: Amplify;
    src: font-url('Amplify.otf');
}

@font-face
{
    font-family: Benton Sans Black;
    src: font-url('Benton_Sans/BentonSans-Black.ttf');
}

@font-face
{
    font-family: Benton Sans Black Italic;
    src: font-url('Benton_Sans/BentonSans-BlackItalic.ttf');
}

@font-face
{
    font-family: Benton Sans Bold;
    src: font-url('Benton_Sans/BentonSans-Bold.ttf');
}

@font-face
{
    font-family: Benton Sans Bold Italic;
    src: font-url('Benton_Sans/BentonSans-BoldItalic.ttf');
}

@font-face
{
    font-family: Benton Sans Book;
    src: font-url('Benton_Sans/BentonSans-Book.ttf');
}

@font-face
{
    font-family: Benton Sans Book Italic;
    src: font-url('Benton_Sans/BentonSans-BookItalic.ttf');
}

@font-face
{
    font-family: Benton Sans Light;
    src: font-url('Benton_Sans/BentonSans-Light.ttf');
}

@font-face
{
    font-family: Benton Sans Light Italic;
    src: font-url('Benton_Sans/BentonSans-LightItalic.ttf');
}

@font-face
{
    font-family: Benton Sans Medium;
    src: font-url('Benton_Sans/BentonSans-Medium.ttf');
}

@font-face
{
    font-family: Benton Sans Medium Italic;
    src: font-url('Benton_Sans/BentonSans-MediumItalic.ttf');
}

@font-face
{
    font-family: 'Tisa Pro';
    src: font-url('TisaPro/TisaPro.otf');
}

@font-face
{
    font-family: Tisa Pro Italic;
    src: font-url('TisaPro/TisaPro-Ita.otf');
}

@font-face
{
    font-family: Tisa Pro Bold;
    src: font-url('TisaPro/TisaPro-Bold.otf');
}

@font-face
{
    font-family: Tisa Pro Bold Italic;
    src: font-url('TisaPro/TisaPro-BoldIta.otf');
}



