<!-- Modal -->
  <div ng-controller="ModalCtrl" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

        <div class="input-append">  <h4 class="modal-title pull-left" id="myModalLabel">Build a wall for </h4></div>
           
         <div class="input-append">  <select ng-change="showValueDropDown(selectedSection)" ng-show="dropDownDisplay" ng-model="selectedSection" ng-selected="selectedSection" ng-options="c.name for c in userSections" class="styled-drop-down" ><option value="">Select Section...</option></select>
           <select ng-hide="dropDownDisplay" ng-model="selectedSection" ng-selected="selectedSection" ng-options="c.name for c in userSections" class="selected-section-wrapper" ></select></div>

          <div class="clearfix"></div>
        </div>
        <div class="modal-body">
          <div class="input-append date text-center" data-date-format="dd-mm-yyyy">
         
          <div class="control-group">
          <div class="controls">
              <div class="input-append">
                  <input class="name-your-wall" placeholder="Name your wall..." ng-model="wallName" name="wallName" type="text" />
              </div>
               <div class="input-append date-picker-wrapper">  
                  <span class="date-label">Date: </span> 
                   <input id="date-picker" ng-model="selectedDate" name="selectedDate" class="span2" size="16" type="text" pema-datepicker/>
                  <label for="date-picker" class="add-on"><span class="edit-date-picker-btn">Edit</span></label>
                  <div class="clearfix"></div>
              </div>
          </div>
        </div>
        <div class="modal-footer" >
         <button type="button" class="cancel-modal-btn" data-dismiss="modal" ng-click="" >Cancel</button>
         <button type="button" class="create-wall-modal-btn" ng-hide="isEditWall"  pema-modal="myModal" data-modal-hidden="true" ng-click="createSessionSubmit()" ng-disabled="!(dropDownDisplay == false && wallName.length > 0)" scroll-top>Create Wall</button>
         <button type="button" class="create-wall-modal-btn" ng-show="isEditWall"  pema-modal="myModal" data-modal-hidden="true"  ng-disabled="!(wallName.length > 0)" ng-click="upDateWall()">Update Wall</button>
        </div>
      </div>
    </div>
  </div>
</div>